


.servicehenna  img {

    opacity: 0.8;
    max-height:400px ;
    max-width: auto;
    border:"2px solid  whitesmoke";
    padding: 1px;
}


.servicehenna h1{
 color: black;
 text-align: center;
 font-family: 'Tangerine', cursive,'arial';
    color:rgb(245, 128, 19);
    font-size: 54px;
   font-weight: bolder;
   opacity:1;
   margin-top: 200px;
   
}
