.navbar{
  background-color: var(--darkpurple);
  font-family: 'Raleway', sans-serif;

 font-weight: bold

  ;

}


.hamburger{
    background-color: var(--darkpurple);
    color: var(--babypink);
    
}