.navbar{
  background-color: var(--darkpurple);
  font-family: 'Raleway', sans-serif;

 font-weight: bold

  ;

}


.hamburger{
    background-color: var(--babypink);
    color: var(--babypink);
    
}

.hamburger-container{
  background-color: var(--lightpurple);
  color: var(--babypink);
}
.hamburger-brandname{
  font-family: 'Tangerine', cursive;
  color:var(--babypink);
  font-size: 24px;
 font-weight: 900;


}