div a{
    text-decoration: none;
    color: black;
}
.brandname{
    
        font-family: 'Tangerine', cursive;
        color:black;
        font-size: 24px;
       font-weight: 500;
      
    
    
}

div a:hover{
    opacity: 1;
    color:var(--darkpurple);
    text-decoration: none;
}