
:root{
  --babypink:#FAEEE9;
  --nude:#F5D698;
  --lightpurple:#A77A95;
  --light-grey:#C3C3D5;
  --darkpurple:#735366;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color:var(--babypink);
    
  }
  




